@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  /*font-family: "Jua", sans-serif;*/
  font-family: "Cafe24Oneprettynight";
  background-color: rgba(222, 184, 135, 0.497);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s linear forwards;
}

.start {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.start__img {
  width: 45%;
  height: auto;
  margin-top: 10%;
  box-shadow: 0 0px 10px 2px rgba(105, 105, 105, 0.479);
}

.question,
.result {
  display: none;
  margin-top: 10%;
}

.progress {
  width: 60%;
}
.progress-bar {
  background-color: burlywood;
}

#img-drk {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  box-shadow: 0 0px 10px 5px rgba(105, 105, 105, 0.479);
}

#img-dess {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  box-shadow: 0 0px 10px 5px rgba(105, 105, 105, 0.479);
}
}

#drink {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

#explain {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.5;
}

#dessert {
  font-size: 20px;
}

#more {
  font-size: 15px;
  opacity: 0.3;
  margin-bottom: 5%;
}

.dess{
  font-size: 25px;
}